--
-- PostgreSQL database dump
--

\restrict 04eYZi94WwrsfD9mhJTkiWTAndnOBOsE1lercpCqeaNvOf1cSvoGJvQCVVzAQTB

-- Dumped from database version 16.15 (Ubuntu 16.15-0ubuntu0.24.04.1)
-- Dumped by pg_dump version 16.15 (Ubuntu 16.15-0ubuntu0.24.04.1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: case_entities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.case_entities (
    case_id character varying(50) NOT NULL,
    entity_id character varying(100) NOT NULL,
    association_type character varying(100),
    confidence double precision,
    source character varying(255),
    added_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.case_entities OWNER TO postgres;

--
-- Name: cases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cases (
    case_id character varying(50) NOT NULL,
    case_number character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    jurisdiction character varying(100),
    status public.case_status_enum DEFAULT 'ACTIVE'::public.case_status_enum NOT NULL,
    priority character varying(50),
    opened_at timestamp with time zone,
    closed_at timestamp with time zone,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.cases OWNER TO postgres;

--
-- Name: entities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entities (
    entity_id character varying(100) NOT NULL,
    entity_type public.entity_type_enum NOT NULL,
    canonical_name character varying(255) NOT NULL,
    normalized_value character varying(255) NOT NULL,
    resolution_status public.resolution_status_enum DEFAULT 'UNRESOLVED'::public.resolution_status_enum NOT NULL,
    resolution_score double precision,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.entities OWNER TO postgres;

--
-- Name: evidence; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evidence (
    evidence_id character varying(100) NOT NULL,
    case_id character varying(50),
    evidence_type character varying(100) NOT NULL,
    title character varying(255),
    storage_uri character varying(500) NOT NULL,
    file_hash character varying(64) NOT NULL,
    hash_algorithm character varying(50) DEFAULT 'SHA-256'::character varying,
    source character varying(255),
    collected_at timestamp with time zone,
    collected_by uuid,
    sealed boolean DEFAULT false,
    fabric_transaction_id character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.evidence OWNER TO postgres;

--
-- Name: findings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.findings (
    finding_id uuid DEFAULT gen_random_uuid() NOT NULL,
    case_id character varying(50),
    finding_type character varying(100) NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    severity character varying(50),
    confidence double precision,
    status character varying(50) DEFAULT 'NEW'::character varying NOT NULL,
    generated_by character varying(100),
    algorithm_version character varying(50),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.findings OWNER TO postgres;

--
-- Name: relationship_cases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.relationship_cases (
    relationship_id character varying(100) NOT NULL,
    case_id character varying(50) NOT NULL
);


ALTER TABLE public.relationship_cases OWNER TO postgres;

--
-- Name: relationships; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.relationships (
    relationship_id character varying(100) NOT NULL,
    source_entity_id character varying(100),
    relationship_type character varying(100) NOT NULL,
    target_entity_id character varying(100),
    status public.validation_status_enum DEFAULT 'NEEDS_REVIEW'::public.validation_status_enum NOT NULL,
    confidence double precision,
    first_observed_at timestamp with time zone,
    last_observed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.relationships OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    username character varying(255) NOT NULL,
    display_name character varying(255),
    password_hash character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'ACTIVE'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: case_entities case_entities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_entities
    ADD CONSTRAINT case_entities_pkey PRIMARY KEY (case_id, entity_id);


--
-- Name: cases cases_case_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_case_number_key UNIQUE (case_number);


--
-- Name: cases cases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_pkey PRIMARY KEY (case_id);


--
-- Name: entities entities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entities
    ADD CONSTRAINT entities_pkey PRIMARY KEY (entity_id);


--
-- Name: evidence evidence_file_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence
    ADD CONSTRAINT evidence_file_hash_key UNIQUE (file_hash);


--
-- Name: evidence evidence_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence
    ADD CONSTRAINT evidence_pkey PRIMARY KEY (evidence_id);


--
-- Name: findings findings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.findings
    ADD CONSTRAINT findings_pkey PRIMARY KEY (finding_id);


--
-- Name: relationship_cases relationship_cases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.relationship_cases
    ADD CONSTRAINT relationship_cases_pkey PRIMARY KEY (relationship_id, case_id);


--
-- Name: relationships relationships_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.relationships
    ADD CONSTRAINT relationships_pkey PRIMARY KEY (relationship_id);


--
-- Name: relationships relationships_source_entity_id_relationship_type_target_ent_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.relationships
    ADD CONSTRAINT relationships_source_entity_id_relationship_type_target_ent_key UNIQUE (source_entity_id, relationship_type, target_entity_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_case_entities_entity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_case_entities_entity ON public.case_entities USING btree (entity_id, case_id);


--
-- Name: idx_cases_jurisdiction; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cases_jurisdiction ON public.cases USING btree (jurisdiction);


--
-- Name: idx_cases_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cases_status ON public.cases USING btree (status);


--
-- Name: idx_entities_normalized; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_entities_normalized ON public.entities USING btree (normalized_value);


--
-- Name: idx_entities_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_entities_type ON public.entities USING btree (entity_type);


--
-- Name: idx_findings_case; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_findings_case ON public.findings USING btree (case_id);


--
-- Name: idx_relationship_cases_case; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_relationship_cases_case ON public.relationship_cases USING btree (case_id, relationship_id);


--
-- Name: case_entities case_entities_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_entities
    ADD CONSTRAINT case_entities_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id);


--
-- Name: case_entities case_entities_entity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_entities
    ADD CONSTRAINT case_entities_entity_id_fkey FOREIGN KEY (entity_id) REFERENCES public.entities(entity_id);


--
-- Name: cases cases_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id);


--
-- Name: evidence evidence_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence
    ADD CONSTRAINT evidence_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id);


--
-- Name: evidence evidence_collected_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence
    ADD CONSTRAINT evidence_collected_by_fkey FOREIGN KEY (collected_by) REFERENCES public.users(user_id);


--
-- Name: findings findings_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.findings
    ADD CONSTRAINT findings_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id);


--
-- Name: relationship_cases relationship_cases_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.relationship_cases
    ADD CONSTRAINT relationship_cases_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(case_id);


--
-- Name: relationship_cases relationship_cases_relationship_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.relationship_cases
    ADD CONSTRAINT relationship_cases_relationship_id_fkey FOREIGN KEY (relationship_id) REFERENCES public.relationships(relationship_id);


--
-- Name: relationships relationships_source_entity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.relationships
    ADD CONSTRAINT relationships_source_entity_id_fkey FOREIGN KEY (source_entity_id) REFERENCES public.entities(entity_id);


--
-- Name: relationships relationships_target_entity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.relationships
    ADD CONSTRAINT relationships_target_entity_id_fkey FOREIGN KEY (target_entity_id) REFERENCES public.entities(entity_id);


--
-- PostgreSQL database dump complete
--

\unrestrict 04eYZi94WwrsfD9mhJTkiWTAndnOBOsE1lercpCqeaNvOf1cSvoGJvQCVVzAQTB

